*.cmake
tags
*.so
onrisctool
*.c~
.built
.built_check
.configured_
.dep_files
.prepared*
CMakeCache.txt
/CMakeFiles/
cli/CMakeFiles/
src/CMakeFiles/
swig/CMakeFiles/
/build/
install_manifest.txt
/ipkg*
Makefile
Headers/
oe-logs
oe-workdir
*.patch
.pkgdir
compile_commands.json
